/*Universal Selectors are applied to all HTML elements and in this case is used to remove browser defaults from 
giving the webpage a different layout on different browser platforms */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*As the body encompasses all the elements in the page, it will place a background color on the entire webpage*/
body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}

/*The font family styling offers different fonts for the header tag based on what is available through the browser 
with the sans-serif fall back option which is a default in case none of the other fonts are applicable*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/*By floating the nav to the right, all the anchor tags will be placed to the right of all elements in the header
tag*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

/*causing the list items in the navigation bar to be inline-block allows them to be placed on the same line*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Adding the nav before the anchor tag (child selector) ensures that we are only applying the styles to the 
links in the nav bar rather than any anchor tag that we could add in the future*/
nav a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*By using a percentage for the class width, we can ensure that even when we resize the browser, the content class
will remain the bulk (75%) of the web-page display */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Since all the sections have the same styles, it is more readable to write it in this format rather than re-writing
the styles for each section class individually (ex: .social-media-marketing{}, online-reputation-management{})*/
.content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*This child selector will apply the following styles to all images in the "content" class which is an easier and 
more readable method as opposed to styling the image in each section class individually*/
.content img {
    max-height: 200px;
}

/*Same reasoning as applied to the ".content img" selector above. We do not want to repeat CSS code */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*Using the float right styling ensures that this section remains to the right of the page and maintain the semantic
meaning of the "aside" tag it was given*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Same reasoning applied as the comment for the ".contents section" selector. We want to minimize that amount of 
code written and prevent repeated code*/
.benefits section {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Making the image a block element allows it to be placed on its own line*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefits h3{
    margin-bottom: 10px;
    text-align: center;
}

/*Removed the .footer class and replaced it with just the footer element as the footer class will provide no added
benefits since a footer can only appear once on a page anyways*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}
